{% extends "layout.html" %}

{% block content %}
<head>

    <script type="text/javascript" src="{{ url_for('static', filename = 'home.js') }}"></script>

    <style>
        .home-image{
        }
    </style>
</head>

<body>
    <div class="row">
        <div class="col-md-1">
            
        </div>
        <div class="col-md-6">
            <h1>Learn the basic Pokémon type-matchups in less than 10 minutes</h1>
            <button id="learn-button" type="button" class="btn btn-primary btn-lg">Start learning</button>
            <button id="quiz-button" type="button" class="btn btn-primary btn-lg">Test your skills</button>

        </div>
        <div class="col-md-4">
            <img class="img-fluid home-image" src="https://pngimg.com/uploads/pokeball/pokeball_PNG8.png">
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            
        </div>
        <div class="col-md-10">

          </div>
    </div>
</body>

{% endblock %}