{% extends "layout.html" %}

{% block content %}
<head>

    <script type="text/javascript" src="{{ url_for('static', filename = 'home.js') }}"></script>

    <style>
        .home-image{
            width: 3.5rem;
        }
    </style>
</head>

<body>
    <div class="row">
        <div class="col-md-1">
            
        </div>
        <div class="col-md-10">
            <br>
            <div class="jumbotron">
               
                <h1 class="display-4">Pokémon Type Matchups  <img class="img-fluid home-image" src="https://pngimg.com/uploads/pokeball/pokeball_PNG8.png"></h1>
                <p class="lead">Learn basic strengths and weaknesses. Start winning battles.</p>
                <hr class="my-4">
                <p>Improve your skills in less than 10 minutes.</p>
                <p class="lead">
                    <button id="learn-button" type="button" class="btn btn-primary btn-lg">Start learning</button>
                    <button id="quiz-button" type="button" class="btn btn-primary btn-lg">Test yourself</button>
                </p>
              </div>
        </div>
</body>

{% endblock %}