{% extends "learn.html" %}

{% block lesson %}
<head>
    <script type="text/javascript" src="{{ url_for('static', filename = 'learn-multiple-types.js') }}"></script>
    <style>
        .example-image{

        }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
            <div id="learn-container">
                <h1>Mutltiple Types</h1>
                <br>
                <h2>Some Pokémon have two <b>types</b>.</h2>
                <h3>These Pokémon have the strengths and weaknesses of both their types</h3>
                <br>
                <br>
                <h3>Example: Poliwrath is both <span class="badge water-span">Water</span> and <span class="badge fighting-span">Fighting</span> type.</h3>
                <img class="img-fluid example-image" src="https://cdn.bulbagarden.net/upload/thumb/2/2d/062Poliwrath.png/250px-062Poliwrath.png">
                <br>
                
                <h4>Poliwrath is strong against: <span class="badge fire-span">Fire</span> and <span class="badge rock-span">Rock</span></h4>
                <h4>And Poliwrath is weak to: <span class="badge grass-span">Grass</span> and <span class="badge flying-span">Flying</span></h4>

                <br>
                <br>
                <h4>You've learned the basics and are ready to start battling other trainers!</h4>
                <ul class="pagination">
                    <li class="page-item pagination-button"><a id="next-link" class="page-link" href="/quiz">Try the test battles</a></li>
                </ul>
            </div>
        </div>
    </div>

</body>
{% endblock %}