{% extends "learn.html" %}

{% block lesson %}
<head>
 
    <script type="text/javascript" src="{{ url_for('static', filename = 'learn-intro.js') }}"></script>

<style>
    .pokemon-type-image{
        height: 2rem;
    }
    .example-container{
        font-size: 1.75rem;
    }

</style>
    
</head>
<body>
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
            <div id="learn-container">
                <h1>Intro</h1>
                <br>
                <h2>Every Pokémon has a <b>type</b>.</h2>
                <h3>A <b>Type</b> represents what kind of Pokémon each one is.</h3>
                <br>
                <h3>Examples of <b>types</b> are: <span class="badge fire-span">Fire</span>, <span class="badge water-span">Water</span>, and <span class="badge grass-span">Grass</span></h3>
            </div>
        </div>
    </div>


    <div class="row example-container">
        <div class="col-md-1">

        </div> 
        <div id="fire-container" class="col-md-3">

        </div> 
        <div id="water-container" class="col-md-3">

        </div> 
        <div id="grass-container" class="col-md-3">

        </div> 
    </div>

</body>
{% endblock %}