{% extends "learn.html" %}

{% block lesson %}

<head>
    <script type="text/javascript" src="{{ url_for('static', filename = 'learn-types1.js') }}"></script>
    <style>
        .nav-buttons {
            font-size: 1.75rem;
        }

        .btn {
            font-size: 1.75rem;
        }

        #type-explanations {
            margin-top: 1rem;
        }

        .explanation-text {
            font-size: 1.5rem;
        }

        .explained-type {
            font-size: 1.6rem;
        }

        .example-image {
            height: 10rem;
            border-radius: 5%;
        }
    </style>
</head>

<body>
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
            <div class="nav-buttons">
                <h2>Learn strengths and weaknesses</h2>
                <button id="fire-collapse" class="btn fire-span" data-toggle="collapse" href="#fire-type-chart"
                    role="button" aria-expanded="false" aria-controls="fire-type-chart">Fire</button>
                <button id="water-collapse" class="btn water-span" type="button" data-toggle="collapse"
                    data-target="#water-type-chart" aria-expanded="false"
                    aria-controls="water-type-chart">Water</button>
                <button id="grass-collapse" class="btn grass-span" type="button" data-toggle="collapse"
                    data-target="#grass-type-chart" aria-expanded="false"
                    aria-controls="grass-type-chart">Grass</button>
            </div>
            <div id="type-explanations" class="row">
                <div class="col-md-12">
                    <div class="collapse multi-collapse" id="fire-type-chart">
                        <div class="card card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <h1> <span class="badge fire-span">Fire</span></h1>
                                </div>
                                <div class="col-md-4">
                                    <img class="img-fluid flipped-image"
                                        src="https://cdn.bulbagarden.net/upload/thumb/9/9b/155Cyndaquil.png/250px-155Cyndaquil.png">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>Strengths</h4>
                                </div>
                                <div class="col-md-6">
                                    <h4>Weaknesses</h4>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-md-6 strengths">
                                    <div class="explanation-text">
                                        <ui>
                                            <li>
                                                <span class="badge explained-type grass-span">Grass</span>
                                                <br>
                                                <span>Fire burns grass and plants</span>
                                                <br>
                                                <img class="img-fluid example-image"
                                                    src="https://www.wikihow.com/images/thumb/c/ce/Kill-a-Tree-Stump-Step-0-preview.jpg/460px-nowatermark-Kill-a-Tree-Stump-Step-0-preview.jpg">
                                            </li>
                                        </ui>

                                    </div>
                                </div>
                                <div class="col-md-6 weaknesses">
                                    <div class="explanation-text">
                                        <ui>
                                            <li>
                                                <span class="badge explained-type water-span">Water</span>
                                                <br>
                                                <span>Water extinguishes fire</span>
                                                <br>
                                                <img class="img-fluid example-image"
                                                    src="https://www.wikihow.com/images/thumb/c/c1/Extinguish-a-Fire-at-the-Initial-Stages-Step-6-Version-2.jpg/aid114064-v4-728px-Extinguish-a-Fire-at-the-Initial-Stages-Step-6-Version-2.jpg.webp">
                                            </li>
                                            <br>
                                            <li>
                                                <span class="badge explained-type rock-span">Rock</span>
                                                <br>
                                                <span>Rocks contain and extinguish fires</span>
                                                <br>
                                                <img class="img-fluid example-image"
                                                    src="https://www.wikihow.com/images/thumb/f/f3/Make-Fire-Without-Matches-or-a-Lighter-Step-44-Version-3.jpg/aid262870-v4-728px-Make-Fire-Without-Matches-or-a-Lighter-Step-44-Version-3.jpg.webp">
                                            </li>
                                        </ui>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="collapse multi-collapse" id="water-type-chart">
                        <div class="card card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <h1> <span class="badge water-span">Water</span></h1>
                                </div>
                                <div class="col-md-4">
                                    <img class="img-fluid "
                                        src="https://cdn.bulbagarden.net/upload/thumb/d/df/158Totodile.png/250px-158Totodile.png">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>Strengths</h4>
                                </div>
                                <div class="col-md-6">
                                    <h4>Weaknesses</h4>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-md-6 strengths">
                                    <div class="explanation-text">
                                        <ui>
                                            <li>
                                                <span class="badge explained-type fire-span">Fire</span>
                                                <br>
                                                <span>Water extinguishes fire</span>
                                                <br>
                                                <img class="img-fluid example-image"
                                                    src="https://www.wikihow.com/images/thumb/c/c1/Extinguish-a-Fire-at-the-Initial-Stages-Step-6-Version-2.jpg/aid114064-v4-728px-Extinguish-a-Fire-at-the-Initial-Stages-Step-6-Version-2.jpg.webp">
                                            </li>
                                            <br>
                                            <li>
                                                <span class="badge explained-type rock-span">Rock</span>
                                                <br>
                                                <span>Water erodes rocks</span>
                                                <br>
                                                <img class="img-fluid example-image"
                                                    src="https://guidebooktoenergyandplanetearth.weebly.com/uploads/5/3/5/9/53590201/4542528_orig.jpg">
                                            </li>
                                        </ui>

                                    </div>
                                </div>
                                <div class="col-md-6 weaknesses">
                                    <div class="explanation-text">
                                        <ui>
                                            <li>
                                                <span class="badge explained-type grass-span">Grass</span>
                                                <br>
                                                <span>Grass and plants drink water</span>
                                                <br>
                                                <img class="img-fluid example-image"
                                                    src="https://www.wikihow.com/images/thumb/a/a6/Lay-a-New-Lawn-Step-13-Version-2.jpg/aid59369-v4-728px-Lay-a-New-Lawn-Step-13-Version-2.jpg.webp">
                                            </li>
                                        </ui>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="collapse multi-collapse" id="grass-type-chart">
                        <div class="card card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <h1> <span class="badge grass-span">Grass</span></h1>
                                </div>
                                <div class="col-md-4">
                                    <img class="img-fluid "
                                        src="https://cdn.bulbagarden.net/upload/thumb/2/2c/252Treecko.png/250px-252Treecko.png">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>Strengths</h4>
                                </div>
                                <div class="col-md-6">
                                    <h4>Weaknesses</h4>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-md-6 strengths">
                                    <div class="explanation-text">
                                        <ui>
                                            <ui>
                                                <li>
                                                    <span class="badge explained-type water-span">Water</span>
                                                    <br>
                                                    <span>Grass and plants drink water</span>
                                                    <br>
                                                    <img class="img-fluid example-image"
                                                        src="https://www.wikihow.com/images/thumb/a/a6/Lay-a-New-Lawn-Step-13-Version-2.jpg/aid59369-v4-728px-Lay-a-New-Lawn-Step-13-Version-2.jpg.webp">
                                                </li>
                                                <br>
                                                <li>
                                                    <span class="badge explained-type rock-span">Rock</span>
                                                    <br>
                                                    <span>Plants can grow through rocks</span>
                                                    <br>
                                                    <img class="img-fluid example-image"
                                                        src="https://i.redd.it/8lqa6udxwk231.jpg">
                                                </li>
                                            </ui>
                                        </ui>

                                    </div>
                                </div>
                                <div class="col-md-6 weaknesses">
                                    <div class="explanation-text">
                                        <ui>
                                            <li>
                                                <span class="badge explained-type fire-span">Fire</span>
                                                <br>
                                                <span>Fire burns grass and plants</span>
                                                <br>
                                                <img class="img-fluid example-image"
                                                    src="https://www.wikihow.com/images/thumb/c/ce/Kill-a-Tree-Stump-Step-0-preview.jpg/460px-nowatermark-Kill-a-Tree-Stump-Step-0-preview.jpg">
                                            </li>
                                            <br>
                                            <li>
                                                <span class="badge explained-type flying-span">Flying</span>
                                                <br>
                                                <span>Birds eat plants</span>
                                                <br>
                                                <img class="img-fluid example-image"
                                                    src="https://www.wikihow.com/images/a/af/Plant-Cherry-Seeds-Step-23-Version-2.jpg">
                                            </li>
                                        </ui>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}