{% extends "layout.html" %}

{% block content %}

<head>

  <script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>

</head>

<style>
  #learn-pagination {
    margin-top: 1rem;
  }

  .pagination-button {
    margin-top: 1rem;
  }
</style>

<body>
  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">

      <ul id="learn-pagination" class="pagination">
        <!-- <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li> -->
        <li id="intro-tab" class="page-item"><a class="page-link" href="/learn/intro">Intro</a></li>
        <li id="strengths-tab" class="page-item"><a class="page-link" href="/learn/strengths">Strengths</a></li>
        <li id="weaknesses-tab" class="page-item"><a class="page-link" href="/learn/weaknesses">Weaknesses</a></li>
        <li id="types1-tab" class="page-item"><a class="page-link" href="/learn/types1">Types 1</a></li>
        <li id="types2-tab" class="page-item"><a class="page-link" href="/learn/types2">Types 2</a></li>
        <li id="multiple-types-tab" class="page-item"><a class="page-link" href="/learn/multiple_types">Pokémon with
            Multiple Types</a></li>

        <!-- <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li> -->
      </ul>

    </div>
  </div>
  {% block lesson %}

  {% endblock %}

  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-8">
      <ul class="pagination">
        <li id="previous-button" class="page-item pagination-button"><a id="previous-link" class="page-link" href="#">Previous</a></li>
      </ul>

    </div>
    <div class="col-md-2">
      <ul class="pagination">
        <li id="next-button" class="page-item pagination-button"><a id="next-link" class="page-link" href="#">Next</a></li>
      </ul>
    </div>

  </div>
</body>

{% endblock %}